################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AmanBookStore/.vs/AmanBookStore
/AmanBookStore/AmanBookStore/bin/Debug/netcoreapp3.1
/AmanBookStore/AmanBookStore/obj
